<div class="panel-body" style="margin: 5%;margin-top: 0;">
  <ul class="listProduct_list listProduct_root">
    <li class="" *ngFor="let product of filteredProducts">
      <div>
        <span>{{product.title}}</span>
        <br>
        <span>{{product.price}}€</span>
        <br>
        <span (click)="submitRemoveProduct(product)"> X </span>
        <br>
        <span (click)="submitAddPanierProduct(product)"> --> </span>
      </div>
    </li>

    <form class="form_root" [formGroup]="ProductFormIdentification" (ngSubmit)="submitAddProduct()" >
      <div class="form_content" style="display: flex">
        <div class="col-md-5">
          <label for="label">Label</label>
          <input type="text" formControlName="label" class="form-control" id="label" placeholder="Label"/>
        </div>
        <div class="col-md-5">
          <label for="price">Prix €</label>
          <input type="number" formControlName="price" class="form-control" id="price" placeholder="100">
        </div>
      </div>
      <button type="submit" style="margin-left: 15px;" class="btn btn-primary">Ajouter un produit</button>
    </form>
  </ul>
</div>
