.listProduct_root {
  margin-top: 3%;
  overflow-y:scroll;
  max-height: 600px;
  width: 100%;
}

.listProduct_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.listProduct_list li {
  padding: 0.5rem;
  list-style: none;
  border-bottom: 1px solid #bebebe;
  width: 90%;
}
