<form class="form_root" [formGroup]="FormIdentification" (ngSubmit)="submit()" >
    <div class="form_content" style="display: flex">
          <div class="form_gender">
            <label for="Civilité">Civilité</label>
            <select formControlName="gender" class="" id="Civilité" style="margin: auto">
                <option>--</option>
                <option>M.</option>
                <option>Mme.</option>
            </select>
          </div>
        <div class="col-md-5">
            <label for="lastname">Nom</label>
            <input type="text" formControlName="lastname" class="form-control" id="lastname" placeholder="Nom"/>
        </div>
        <div class="col-md-5">
            <label for="firstname">Prénom</label>
            <input type="text" formControlName="firstname" class="form-control" id="firstname" placeholder="Prénom">
        </div>
    </div>
    <button type="submit" style="margin-left: 15px;" class="btn btn-primary">Valider</button>

    <div *ngIf="data">
      <div><p>{{ this?.data | json }}</p></div>
    </div>
</form>
