.form_root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.form_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  background: #e3e3e3;
}

.form_content div {
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
}

.form_content label {
  margin-right: 1rem;
  width: 50%;
  min-width: 5rem;
}

.form_content input, select {
  display: block;
  width: 50%;
  min-width: 5rem;
}
